* {
    margin: 0;
    padding: 0;
    font-size: "verdana";
}

.secao-topo {
    background-image: url("capa.jpg");
    background-size: cover;
    background-attachment: fixed;
    min-height: 600px;
    text-align: center;
    padding: 50px;
}

h1,
h2 {
    margin: 0 auto;
    color: #fff;
    padding: 10px;
    width: 300px;
}

h1 {
    background-color: #000;
}

h2 {
    background-color: #f00;
}

.secao-conteudo {
    width: 800px;
    margin: auto;
    padding: 50px 20px;
}

.secao-conteudo img {
    width: 200px;
    height: 250px;
    padding-top: 20px;
}

.secao-divulgacao {
    background-image: url("img1.jpg");
    background-size: cover;
    background-attachment: fixed;
    height: 200px;
}

p {
    line-height: 26px;
}

span {
    background-color: #f00;
    color: #fff;
    padding: 10px 25px;
    font-weight: bold;
    margin-top: 20px;
}

.secao-conteudo p {
    margin-top: 20px;

}
